@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,700,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Dosis:200,300,400');
*{
  padding:0;
  margin:0;
  box-sizing:border-box ;

}

img{
  vertical-align: middle;
}
a{
  text-decoration: none;
  color:#333;
}
::after, ::before {
  box-sizing: border-box;
}
::selection{
  color:green;
  background-color:#c96 ;
}
.App-header {
  background-color: #282c34;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.8vmin);
  color: white;
}
.featured{
border: 1px solid whitesmoke;

}
.home{
  margin:0;
  padding: 0;
}

.home .card{
  background-color: darkseagreen;
  border: none;

}
.home img{
  max-height: 700px;
}

.navbar-light .navbar-toggler-icon{
  background-image:url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%280, 0, 0, 0.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e") !important;
}
.navbar{
  display:flex;
}
.navbar-collapse{
  gap: 10px;
}
.navbar-menu{
  display:flex;
  color: #404040;
  flex-wrap: nowrap;
  list-style: none;

}
.navbar-menu li{
  flex:1vh;
  flex-flow: row-reverse;
  cursor:pointer;
}
.navbar-menu li:hover{
border-bottom: 1px solid  black ;

}
.ydb{
  font-size: 20px;
  text-decoration: none;
  list-style: inherit;
  color:#333;
}
.ydb:hover{
  color:#782626;
}
h2,p{
  text-align: center;
  padding-bottom:10px;
}
.desc{
  margin-bottom:-20px;
}
.add .btn{
 margin-top:50px;
 text-transform: uppercase;
}

.search-box{
  width:fit-content;
  height:fit-content;
  position: relative;
  margin-right:40px;
}
.btn-search{
  width:50px;
  height:50px;
  font-size:20px;
  font-weight:bold;
  border-style:none ;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;
  border-color:#F5F5F7;
  outline: none;
  right:0;
  color:#282c34;
  background-color:#F5F5F7 ;
  position: absolute;

}
.discover{
  margin-top: 30px;
}


.input-search{
 width:50px;
 height:50px;
 border-style: none;
 outline:none;
 background-color: grey;
 padding:10px;
 color: white;
 letter-spacing:2px;
 border-radius:25px;
 padding-right:40px;
 transition: all .5s ease-in-out;
}
.input-search::placeholder{
color:rgba(255,255,255,.5);
font-size:18px;
letter-spacing: 2px;
font-weight: 100;
}
.btn-search:focus ~ .input-search{
  width:200px;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width:200px;
}
input:hover
p{
  color:black;
}
.basket{
 font-size:30px;
 position:relative;
cursor:pointer;
}
  .basket span{
font-size:24px;
  position: absolute;
  }
.cart-empty{
  margin-top:10%;
}


.cardd{
  padding-left:10px;
  padding-right:10px;
}
.page-header{
  padding:1.6rem 0.5rem;
  background-size: cover;
  background-position: 50%;
  background-color: #ebebeb;
 background-image: url(https://d-themes.com/react/molla/demo-25/images/page-header-bg.jpg); 
}
.page-header h1{
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;

}
.page-header span{
color:#c96;
font-size:2rem;
}
.row-card{
  display: flex;
  margin-top:60px;
}
.titlel{
  padding-bottom: 40px;
  font-size: 40px;
  animation-name: fadeInUp;
  animation-duration: 1s;
}
@keyframes fadeInUp{
  from{
    opacity:0;
    transform:translate3d(0,100%,0);
  }
  to{
    opacity:1;
    transform:none;
  }
}
.btnn{
  background-color: #d69f7e;
  color:#fff4e4;
  text-transform: capitalize;
  padding-left: 2rem;
  padding-right: 2rem;
   min-width:100px ;
  border-radius: 2px;
  letter-spacing: 0.1em;
  font-weight: 500;
  width: 100%;
  height: 50px;
  border-style: none;
  animation-name: fadeInUp;
  animation-fill-mode: both;
  animation-duration: 1.5s;

}
.btnn:hover{
  box-shadow: 0px 15px 20px rgba(229, 110, 46, 0.4);
}

footer{
 background-color: #F5F5F7;
 margin-top:100px;

}
@media screen  and (max-width:768px){
  .carousel {
max-height: 300px;
  }
}
.carousel .thumbs-wrapper{
  display: none;
}
.shop img{
    max-height: 10rem;
    object-fit: cover;
    border-radius: 4%;
    width: 70% !important;


}

.footer-menu .title{
  text-align: center;
  margin-top: 20px;

}
.footer-menu ul{
  list-style: none;
  text-align: center;

}
.footer-menu ul li{
  padding:7px;
  cursor:pointer;
}
.footer-menu ul li a:hover{
border-bottom:1px solid black;
}

.social-media{
  display:flex;
  align-items: center;
  justify-items: center;
  justify-content: center;

}
.social-media a {
padding-left:1rem;
text-align: center;
color: #555;
font-size:20px;
}
.social-media a:hover{
  opacity:0.5;
}
/* .scroll{
  display: inline-block;
  width:50px;
  height:50px;
  background-color: #282c34;
  position:fixed; 
  bottom:0;
  top:0;
  border-radius: 50%;
  text-align: center;
  z-index: 99;
  transition: all 0.4s ease;
  display: none;
} */

.footer-bottom{
  background-color:darkseagreen !important;
  padding-top: 20px;
  color: white;
}
.footer-bottom p{
  text-align: center;
}
.bestt{
  margin-top:10px;
}
.bestt img{
  width:100%;
  height:100%;
}
.best_sellers{
  letter-spacing: .8rem;
  color: rosybrown;
  line-height:1.35;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.products .col-md-3:hover{
  border:1px solid #eeee;
}
.col-md-4 {
  text-align: center;
}
.featured{
  color: #c1c1c1;
}
.best_title{
  padding-top: 20px;

}
.best_title,.best_price,.best1 img{
  text-align: center !important;
  vertical-align: middle;
}
.best_title:hover{
  color: #c96;
}

.product_bootom{
  margin-bottom:10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_bootom button{
  border-style: none;
  border-radius: 0%;
  border-radius:75px;
  letter-spacing: 1px;
}
h4{
  text-align: center !important;
  padding-left:25px;
}
.shop{
  position:relative;
}
.product-action{
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity:1;
  transition: all ease 0.35s;

}
.shop:hover>.product-action{
  transform: translateY(-190%);

  visibility: inherit;
  text-align: center;
  transition-delay: 0ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
h5{
  padding-top:10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.desc{
  background-color:  darkseagreen ;
}
.desc h2{
  padding-top:15px;
  letter-spacing: 0.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:whitesmoke;
}
.desc p{
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.product{
  position:relative;
  padding:20px;
}


.hidden{
  position: absolute;
  text-align: center;
  right:10px; 
  top: 10px;
}

/* .hidden a{

margin-top:10px;
margin-bottom: 20px;
width: 100%;
max-height: 20px;
color:white;
letter-spacing: 2px;
border-style: none;
font-size: 14px;
} */
.btn-comment{
  width: 10rem;
}
.hidden a button{
  background-color: #d69f7e;
  color: white;
}
.product-title{
  color:#555;
  font-style: 'Arial';
  font-weight: 500;
  line-height: 1.55;
}
.product-titles:hover{
  color:#c96;

}
.product-titles{
  color: #333;
}
.burger{
 display: none;
  color:black;
  left:5px;
  top:30px;
}


.product-count{
margin-left:20%;
margin-right:20%;

} 
.product-name{
  font-weight: 400;
  letter-spacing: -.025em;
  line-height: 1.25;
  font: normal 300 1.4rem/1.86 'Roboto',sans-serif;
}
.descr h6{
  color: #1cc0a0;
  font-size: 30px;
}
.descr p{
  float: left;
  line-height:1.5em;
letter-spacing: 0;
color: #555;
font-family: 'Roboto';
}
.add{
  margin-top:-20px;
}
.price{
  font-size:1.7rem;
}
.price::before{
  content:'$ ';
}
.likes{
  font-size:2.2rem;
  letter-spacing: -.03em;
  font-style: normal;
}
.alert .btn{
  margin-top: 30px;
}
.carts{
  border-top:1px solid grey;
}
.cart-icon{
  margin-left:20px;
}
.size{
  padding-left: 2vh;
  margin-bottom: 20px;
}
.size .btn {
  padding-left:10px;
  text-align: center; 
  margin-left:10px;
}
.remove{
  margin-top:60px;
}
.pro-details{
  display:flex;
  margin-top:40px;
  cursor:pointer

}
.cart-title{
  text-transform: uppercase;
  /* margin-left:-50px; */
}
.product-title{
  font-size: 20px;
}
.prize{
 font-size:30px;
 font-weight: bold;
 text-align: center;
}
/* .row{
  margin-left:20px;
} */
.row .tables{
  border-bottom: 1px solid silver;
  border-top: 1px solid silver;
}
.content-header{
  display: flex;
align-items: center;
justify-content: space-between;
}
.total-prize{
color:#c96;
font-size: 1.5rem;
}
.detailss{
  display:flex;
  cursor:pointer;
width: 70%;
margin-left: 25px;

}
.pr-quantity{
  display: flex;
  margin-left: 30%;
}
.dec,
.inc,
.quantity{
  width:60px;
  height:60px;
  display:flex;
  border:1px solid silver;
  align-items: center;
  justify-content:center ;
}
.product-media{
  display: inline-block;
  position: relative;
  margin-right:300px;
  min-width: 60px;
}
.product-media img{
  position: absolute;
  width:80%;
  left:0;
}
.product-image{
  width:100%;
  height: auto;
}
.product-title{
  color:#333;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
  line-height: 1.25;
  font-weight: 400;
  text-align: center;
  padding-bottom:5%;

}
.product-titlen{
  padding-top: 10px;
  color:#12777d;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  line-height: 1.25;
  font-weight: 400;
  text-align: center;

}
.arrival .col-3{
  text-align: center;

}
.arrival .col-3 img{
  object-fit: cover;
  width: 100%;
  height: auto;
}
.product-prize{
  color:#1cc0a0;
  font-size: 1.4rem;
}
.product-price span{
  font-size: 1.5rem;
}
.table{
  width:100%;
  border-collapse: collapse;
}
.table td{
  padding-top: 3rem;
  padding-bottom: 3rem;
  vertical-align: middle;
}
.table th{
  color:#ccc;
  font-weight: 400;
}
.btn-remove{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color:#ccc;
  width:3rem;
  height:3rem;
  border-style: none;
  font-size:1.7rem ;
  background-color: transparent;
}
.btn-remove:hover{
  color: #c96;
}
.table td,.table th,.table thead th{
  border-bottom: .1rem solid #ebebeb;
}
.table thead th{
  vertical-align: bottom;
}

.summary{
  border:.1rem #d7d7d7 dashed;
  padding: 2.5rem 3rem 3rem 3rem;
}
.summary-title{
  font-size:1.2rem;
  font-weight: 500;
  border-bottom: .1rem solid #ccc;
  padding-bottom: 1.7rem;
}


.col-lg-3{
  flex:0 0 30%;
  max-width: 30%;
}
.banner-content p{
  margin-top:20px;
  line-height: 1.9;
  color:#666;
  letter-spacing: 0;
  font-size: 0.8rem;
  text-align: center !important;
  margin-left: 20%;
  margin-right: 20%;
  margin-top:20px;
  letter-spacing: 1px;
}.banner-content img{
  margin-top: 40px;
}
.banner-content h3{
font-size:2.5rem;
letter-spacing:-.01em;
line-height: 1.2;
font-weight: 300;
}
.banner-content{

  text-align: center !important;
  min-height: 400px;
}
.banner3 .banner3_p {
  font-weight: 620;
  font-size: 14px;
}
.social-media{
  padding:10px;
}
.ins{
  position: relative;

}
.seeProducts_button{
  padding-right:3rem;
  padding-left:3rem;
  text-align: center;
  border-top: none;
  border-left:none;
  border-right:none;
  border-bottom:2px solid #c96;
  background-color:#c96 ;
  color: white;
  height:50px;
  width:auto;
  letter-spacing: 1.5px;
}

.seeProducts_button:hover{
  color:white;
}
.instagram{
  padding: 20px;
}
.instagram h2{
  font-weight: 400;
  font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
}
.instagram-content{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:0;
  bottom:0;
  left:20%;
  z-index: 2;
  opacity:0;
  visibility: hidden;
}
.ins:hover>.instagram-content{
  visibility: visible;
  opacity:1;
}
.flex-container{
  display:flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 0;
  margin:0;
}
.flex-item{
padding: 5px;
text-align: center;
}
.ins:hover{
  opacity: 0.6;
}
.content{
  position: absolute;
 }
.arrivals{
  font-size:1.8rem;
  line-height: 1.2;
  letter-spacing: 4px;
  color:#d69f7e;
  font-weight: 800;
  padding-bottom: 30px;
}
.icon {
  margin-right:1rem;
  margin-left: 1rem;
}
.icon:hover{
  color: #c96;
}
.page-title{
  margin-top:20px;
  font-weight: 500;
}
label{
  color:#666;
}
.detailss span{
  color:#282c34;
}
.payp{
border-style: none;
  color:white;
  font-size:18px;
  font-weight: 700;
  letter-spacing: 0.3rem;
  padding:0.7rem 2rem;
  background-color: #ff8a80;
}
.payp:hover{
  box-shadow: 0px 5px 10px 0px rgb(212,43,43); 
}
.instagram-content {
  color:#333;
  font-weight: bold;
}
.instagram-content a:hover{
  color:#c96;
}
.Login{
  padding: 35px 30px 30px;
box-shadow: 0 1px 11px hsl(0deg 0% 66% / 27%);
}
.Login input{
  width: 100%;
  border:1px solid #e4e4e4;
  padding:20px;
  margin-top: 20px;
  border-radius: 5px;
}
.Login button {
background-color: #d69f7e;
padding:10px 50px 10px 50px;
border-style: none;
color:white;
font-size:20px;
font-weight: 500;
letter-spacing: 1px;
border-radius: 5px;
text-align: center;
margin-top: 20px;
}
.Login a{
  margin-top:10px;
  text-decoration: none;
  list-style: none;
  color: #555;
}
.Login a:hover{
  color:#777;
}
.registers{
object-fit: cover;
margin-bottom:40px;
  background-image:url("https://iephosting.com/app/views/client/bootstrap/images/graphic8.svg") ;
}
.page-title{
  color:white;
  letter-spacing: 2px;
}
.paypal{
  width:20%;
}
.ad .btn{
  border-style: none;
  background: coral;
  box-shadow: 0 3px 13px -2px rgba(0,0,0,.15);
  letter-spacing: .2em;
  border-radius: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffff;
  transition: 0.4s;
}
.ad .btn:hover{
  color:#ffff;
}
.des{
  background-color: darkseagreen !important;
  padding-top:20px;
  padding-bottom:15px;
}
.contact h4{
  color:#c1c1c1;
}

.contact iframe{
width:100%;
height:567px;
}
.cardd{
border-radius: 3px; 
padding-bottom:5px;
 }
textarea{
  height: 180px;
}
.submit{
   background-color: #404040;
   border-color: none;
   border-style: none;
   color:#fff;
   font-weight: 500;
   padding:10px 62px;
   margin:40px;
   font-size: 19px;
}
.submit:hover{
  background-color: #BF40BF;
}
.form-control{
border: 1px solid #c1c1c1;
}
.card-img{
  min-height:25rem;
}
 .card form{ 
  padding:25px;
}
.sub{
  font-size:2rem;
  color:#555;
  text-transform: uppercase;
}
.total-price{
  font-size: 2rem;
  color: green;
  padding-left: 20px;
}
.quantity-title{
  padding-right:50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #777;
  font-size: 1.5rem;
}
.order-box{
  height:80px;
  width:80px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.order-details{
  background:#e5fee9;
  padding:30px 0;
}
.order{
  margin:40px 0;
  border-bottom: 2px solid #f3f3f3;
}
.order-image img{
  width:150px;
  height:100px;
}
.flex-box{
  padding:15px 25px;
  border-bottom:2px solid #f3f3f3;
}
.product-count{
  border:2px solid #f3f3f3;
  border-radius: 5px;;
}
.product-count .btn{
  width:100%;
}

.details{
  border:1px solid #dadada;

}
.details-image img{
  width:100%;
}
.card-details{
  display:flex;
}
.details-image button{
  position:relative;
  display:block;
  flex:0 0 25%;
  max-width:19%;

}

.product-gallery li{
    width: 95px;
    height: 114px;
    list-style:none;
    border: 1px solid #eeee;
}
.product-gallery li img{
  width: 100%;
  height:auto;
}
.details p{
  color:#777;
}

.hero-about{
  height:350px;
  background-image: url("https://images.unsplash.com/photo-1486308510493-aa64833637bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1229&q=80");
}
.about-banner h2{
font-size: 400;
font-size: 50px;
font-family: 'Playfair Display',serif;
line-height: 1.4;
}
.about-img img{
  width: 100%;
  height: 400px;
}
.about p{
color:#777;
letter-spacing: 0;
font-weight: 300;
}
.logos{
  margin-left:18%;
}
.brand {
  min-height: 0;
  display: flex;
  margin-bottom:3rem !important;
}
.brand img{
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
.brands-text h2{
  line-height: 1.5;
  font-family:'Playfair Display';
}
.brands-text p{
  color:#777;
  font-weight: 300;
  font-size: 1.2rem;
}
.rcs_buttonSet{
display: none !important;
}
.error img{
  height: 300px;
  object-fit: contain;
}
.error h4{
  font-family: "Josefin Sans",sans-serif;

}