@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,700,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Dosis:200,300,400');


*{
  padding:0;
  margin:0;
  box-sizing:border-box ;

}
img{
  vertical-align: middle;
}
a{
  text-decoration: none;
  color:#333;
}
::after, ::before {
  box-sizing: border-box;
}
::selection{
  color:green;
  background-color:#c96 ;
}
control{
  box-shadow: none !important;
}

section{
  padding-top: 3rem;
}
.products .col-md-3{
border: 1px solid #ddd;
border-radius: 8px;
cursor: pointer;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.products .col-md-3:hover{
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.featured .product-bottom{
  margin-top: 3rem;
}
/* body{
  background:  whitesmoke !important;
} */
.home .card{
  background-color: darkseagreen;
  border: none;

}
.home img{
  max-height: 600px;
  width: 100%;
  opacity: 0.8;
}
.navbar{
  display:flex;
  padding: 25px !important;
  color: black;
}
.navbar-nav a{
  color: #555252;
  font-weight: 500;
  letter-spacing:0.8px;
}
.nav-right a{
  font-size: 30px;
  cursor: pointer;
}
.nav-link{
  font-size: 1.125rem;
}
.navbar-collapse{
  gap: 10px;
}
.basket a{
  display: inline-flex;
}
.page-title{
  text-align: center;
}
.page-header{
  text-align: center;
  margin-bottom: 3rem;
 background-color: #f7f7f7 !important;
  color: #000 !important;
}


.add .btn{
 margin-top:50px;
 text-transform: uppercase;
}

.search-box{
  width:fit-content;
  height:fit-content;
  position: relative;
  margin-right:40px;
}
.btn-search{
  width:50px;
  height:50px;
  font-size:20px;
  font-weight:bold;
  border-style:none ;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;
  border-color:#F5F5F7;
  outline: none;
  right:0;
  color:#282c34;
  background-color:#F5F5F7 ;
  position: absolute;

}
.discover{
  margin-top: 30px;
}


.input-search{
 width:50px;
 height:50px;
 border-style: none;
 outline:none;
 background-color: grey;
 padding:10px;
 color: white;
 letter-spacing:2px;
 border-radius:25px;
 padding-right:40px;
 transition: all .5s ease-in-out;
}
.input-search::placeholder{
color:rgba(255,255,255,.5);
font-size:18px;
letter-spacing: 2px;
font-weight: 100;
}
.input-search:focus{
  width:200px;
}
input{
  outline: none;
  padding: 9px 16px !important;
  border-color: #e9e9e9 !important;
   
}
textarea{
  border-color: #e9e9e9 !important;
} 
.basket{
 font-size:30px;
 position:relative;
cursor:pointer;
}
  .basket span{
font-size:24px;
  position: absolute;
  }
.cart-empty{
  margin-top:10%;
}


.cardd{
  padding-left:10px;
  padding-right:10px;
}
.page-header{
  padding:1.6rem 0.5rem;
  background-size: cover;
  background-position: 50%;
  background-color: #ebebeb;

}


.row-card{
  display: flex;
  margin-top:60px;
}
.titlel{
  padding-bottom: 40px;
  font-size: 40px;
  animation-name: fadeInUp;
  animation-duration: 1s;
}
@keyframes fadeInUp{
  from{
    opacity:0;
    transform:translate3d(0,100%,0);
  }
  to{
    opacity:1;
    transform:none;
  }
}
.btnn{
  background-color: #d69f7e;
  color:#fff4e4;
  text-transform: capitalize;
  padding-left: 2rem;
  padding-right: 2rem;
   min-width:100px ;
  border-radius: 2px;
  letter-spacing: 0.1em;
  font-weight: 500;
  width: 100%;
  height: 50px;
  border-style: none;
  animation-name: fadeInUp;
  animation-fill-mode: both;
  animation-duration: 1.5s;

}
.btnn:hover{
  box-shadow: 0px 15px 20px rgba(229, 110, 46, 0.4);
}

footer{
 background-color: #F5F5F7;
 margin-top:2rem;
 color: #5d5d5d;

}
.subscribe input{
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid #c96;
  padding: 4px 10px 4px 5px !important;
}
@media screen  and (max-width:768px){
  .carousel {
max-height: 300px;
  }
}
.carousel .thumbs-wrapper{
  display: none;
}
.shop img{
    max-height: 10rem;
    object-fit: cover;
    border-radius: 4%;
    width: 70% !important;
}
.footer-menu .title{
  margin-top: 20px;
  display: flex;

}
.footer-menu ul{
  list-style: none;
  padding-left: inherit;
  margin-bottom: inherit;
}
.footer-menu ul li{
  padding-bottom:10px;
  cursor:pointer;
}
.footer ul li a{
  color: #5d5d5d !important;
}
.footer-menu ul li a:hover{
border-bottom:1px solid black;
}
.footer-contact{
  text-align: left;
}
.footer-contact a{
  text-decoration: none;
}
.social-media{
  display:flex;
  gap: 1.5rem;

}
.social-media a {
text-align: center;

color: #555;
font-size:24px;
}
.social-media a:hover{
  opacity:0.5;
}
/* .scroll{
  display: inline-block;
  width:50px;
  height:50px;
  background-color: #282c34;
  position:fixed; 
  bottom:0;
  top:0;
  border-radius: 50%;
  text-align: center;
  z-index: 99;
  transition: all 0.4s ease;
  display: none;
} */

.footer-bottom{
  padding-top: 10px;
  color: #5d5d5d ;
   border-top:1px solid rgba(1, 15, 28, .1);
}
.footer-bottom p{
  text-align: center;
 
}
.footer .title{
margin-bottom: 16px;
}

.products .col-md-3:hover{
  border:1px solid #eeee;
}
.col-md-4 {
  text-align: center;
}
.products{
  gap: 1rem;
  display: flex;
  justify-content: center;
}
.featured{
  color: #c1c1c1;
  width: 18rem !important;
}
.featured:hover{
  background: 0px 20px 20px rgba(0, 0, 0, 0.3);
} 


.product img{
  border-radius: 8px;
}
.product-bottom{
  margin-bottom:10px;
  margin-top: 10px;
}
.product_bootom a{
  font-size: 1.5rem;
  border-style: none;
  border-radius: 0%;
  border-radius:75px;
  letter-spacing: 1px;
}

.shop{
  position:relative;
}
.product-action{
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity:1;
  transition: all ease 0.35s;

}
.desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:7rem;
}
.desc h2{
  padding-top:15px;
}
.product{
  position:relative;
  padding:20px;
  cursor: pointer;
}
.product:hover .hidden{
  display: block;

}
.product:hover .add-btn{
  opacity: 1;
 bottom: 20px;
 box-shadow: 0 4px 6px #777;
 
}
.add-btn:hover {
  background: #0d0d0d;

  
}
.add-btn:hover a{
  color: white !important;
}

.hidden{
  position: absolute;
  text-align: center;
  display: none;
  right:10px; 
  transition: .3s ease-out 0s;
  top: 20px;
}
.add-btn{
  position: absolute;
opacity: 0;
background-color: white;
transition: .25s ease-in-out 0s;
transform: translateX(-50%);
left: 50%;
padding: 10px 20px;
border-radius: 5px !important;
bottom: 0px;
}
.add-btn a{
  color:  rgba(0, 0, 0, 0.9) !important;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.btn-comment{
  width: 10rem;
}


.burger{
 display: none;
  color:black;
  left:5px;
  top:30px;
} 
.product-name{
  font-weight: 400;
  letter-spacing: -.025em;
  line-height: 1.25;
}
.add{
  margin-top:-20px;
}
.price{
  font-size:1.7rem;
}
.price::before{
  content:'$ ';
}
.likes{
  font-size:2.2rem;
  letter-spacing: -.03em;
  font-style: normal;
}

.alert{
  font-size: 24px;
}
.alert .btn{
  margin-top: 30px;
}
.carts{
  border-top:1px solid grey;
}
.cart-icon{
  margin-left:20px;
}
.size{
  padding-left: 2vh;
  margin-bottom: 20px;
}
.size .btn {
  padding-left:10px;
  text-align: center; 
  margin-left:10px;
}
.remove{
  margin-top:60px;
}
.pro-details{
  display:flex;
  margin-top:40px;
  cursor:pointer

}
.cart-title{
  text-transform: uppercase;
  /* margin-left:-50px; */
}
.product-title{
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.prize{
 font-size:30px;
 font-weight: bold;
 text-align: center;
}
/* .row{
  margin-left:20px;
} */
.row .tables{
  border-bottom: 1px solid silver;
  border-top: 1px solid silver;
}
.content-header{
  display: flex;
align-items: center;
justify-content: space-between;
}
.total-prize{
font-size: 1.5rem;
}

.add_to_card{
  background: transparent;
  border: 1px solid  #e0e2e3 !important;
  color: #010f1c !important;
  padding: 9px 30px !important;
}
.add_to_card:hover{
  background: #010f1c !important;
  color: white !important;
}
.quant{
  position: absolute;
  right: -7px;
  top: -5px;
}
.pr-quantity{
  display: flex;
  margin-left: 30%;
}
.dec,
.inc,
.quantity{
  width:60px;
  height:60px;
  display:flex;
  border:1px solid silver;
  align-items: center;
  justify-content:center ;
}
.product-media{
  display: inline-block;
  position: relative;
}
.product-media img{
  width:80px;
}
.product-image{
  width:100%;
  height: auto;
}

.product-title a{
  color: #111111;
  font-weight: 400;
}
.arrival .col-3{
  text-align: center;

}
.arrival .col-3 img{
  object-fit: cover;
  width: 100%;
  height: auto;
}
.product-prize{
  font-size: 18px;
  text-align: center;
  color: #0d0d0d;
  font-weight: 600;
}
.product-price span{
  font-size: 1.5rem;
}
.table{
  width:100%;
  border-collapse: collapse;
  border: 1px solid #e5e5e5;
}
.table td{
  padding-top: 3rem;
  padding-bottom: 3rem;
  vertical-align: middle;
}
.table th{
  font-weight: 400;
}
.btn-remove{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color:#ccc;
  width:3rem;
  height:3rem;
  border-style: none;
  font-size:1.7rem ;
  background-color: transparent;
}
.btn-remove:hover{
  color: #c96;
}
.table td,.table th,.table thead th{
  border-bottom: .1rem solid #ebebeb;
}
.table thead th{
  vertical-align: bottom;
}

.summary{
  border:.1rem #d7d7d7 dashed;
  padding: 2.5rem 3rem 3rem 3rem;
}
.summary-title{
  font-size:1.2rem;
  font-weight: 500;
  border-bottom: .1rem solid #ccc;
  padding-bottom: 1.7rem;
}

.banner-content p{
  line-height: 1.9;
  color:#666;
  letter-spacing: 0;
  font-size: 0.8rem;
  text-align: center !important;
  letter-spacing: 1px;
}
.banner-content img{
  margin-top: 40px;
}
.banner-content h3{
font-size:2.5rem;
letter-spacing:-.01em;
line-height: 1.2;
font-weight: 300;
}
.banner-content{
  padding: 20px;
  text-align: center !important;
}
.banner3{
  background: #F5F7F4;
}
.banner3 .banner3_p {
  font-weight: 620;

  font-size: 14px;
}
.ins{
  position: relative;

}
.seeProducts_button{
  padding-right:3rem;
  padding-left:3rem;
  text-align: center;
  border-top: none;
  border-left:none;
  border-right:none;
  border-bottom:2px solid #c96;
  background-color:#c96 ;
  color: white;
  height:50px;
  width:auto;
  letter-spacing: 1.5px;
}

.seeProducts_button:hover{
  color:white;
}

.instagram-content{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:0;
  bottom:0;
  left:20%;
  z-index: 2;
  opacity:0;
  visibility: hidden;
}
.ins:hover>.instagram-content{
  visibility: visible;
  opacity:1;
}
.flex-container{
  display:flex;
  justify-content: center;
  flex-flow: row wrap;
}

.ins:hover{
  opacity: 0.6;
}
.content{
  position: absolute;
 }
.arrivals{
  font-size:1.8rem;
  line-height: 1.2;
  letter-spacing: 4px;
  color:#d69f7e;
  font-weight: 800;
  padding-bottom: 30px;
}
.icon {
  margin-right:1rem;
  margin-left: 1rem;
}
.icon:hover{
  color: #c96;
}
.page-title{
  font-weight: 400;
  font-size: 24px;
}
label{
  color:#666;
}
/* .detailss{
  border: 1px solid #e5e5e5;
} */

.text{
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.swiper-slide{
  background: #F5F7F4 !important;
}
.slide-text{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgb(155, 177, 143) !important; */
}
.discover .btn{
  background: transparent;
  color: #000;
  padding: 19px 51px 20px;
  border: 1px solid #333;
}
.discover .btn:hover{
  background:#333;
color:white;
}
.text h2{
  font-size: 48px;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
  font-weight: 600;
}
.text a{
  font-weight: 600;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
}
.checkout-btn{
border-style: none;
  color:white;
  font-size:18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding:0.7rem 2rem;
  border-radius: 10px;
  background-color: #222222;
}
.payp:hover{
  box-shadow: 0px 5px 10px 0px #111111; 
}
.instagram-content {
  color:#333;
  font-weight: bold;
}
.instagram-content a:hover{
  color:#c96;
}
.instagram p{
  color: #4d4e4f;
  font-size: 18px;
}
.auth{
  padding: 35px 15px 30px;
border-radius: .375rem;
}
.auth input{
  width: 100%;
  border:1px solid #e4e4e4;
  padding:20px;
  margin-top: 20px;
  outline: none;
  border-radius: 5px;
}
.auth button {
padding:10px 50px 10px 50px;
border-style: none;
color:white;
font-size:20px;
font-weight: 500;
letter-spacing: 1px;
border-radius: 5px;
text-align: center;
margin-top: 20px;
}
.auth a{
  margin-top:10px;
  text-decoration: none;
  list-style: none;
  color: #555;
}
.auth a:hover{
  color:#777;
}
.registers{
object-fit: cover;
margin-bottom:40px;
  background-image:url("https://iephosting.com/app/views/client/bootstrap/images/graphic8.svg") ;
}
.paypal{
  width:20%;
}
.contact iframe{
width:100%;
height:500px;
}
.cardd{
border-radius: 3px; 
padding-bottom:5px;
 }
textarea{
  height: 180px;
}

.form-control{
border: 1px solid #c1c1c1;
}
.card-img{
  min-height:25rem;
}
 .card form{ 
  padding:15px;
}
.sub{
  font-size:2rem;
  color:#555;
  text-transform: uppercase;
}

.quantity-title{
  padding-right:50px;
  color: #777;
  font-size: 1.5rem;
}
.order-box{
  height:80px;
  width:80px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.order-details{
  padding:30px 0;
}
.order{
  margin:40px 0;
  border-bottom: 2px solid #f3f3f3;
}
.order-image img{
  width:150px;
  height:100px;
}
.flex-box{
  padding:15px 25px;
  border-bottom:2px solid #f3f3f3;
}
.product-count{
  border-radius: 5px;;
}
.product-count .btn{
  width:100%;
}

.product-desc{
  color: #55585b;
  margin-bottom: inherit;
}
.details{
  border:1px solid #dadada;
}
.details-image img{
  width:100%;
  height: 500px;
}
.card-details{
  display:flex;
}
.details-image button{
  position:relative;
  display:block;
  flex:0 0 25%;
  max-width:19%;

}

.product-gallery li{
    width: 95px;
    height: 114px;
    list-style:none;
    border: 1px solid #eeee;
}
.product-gallery li img{
  width: 100%;
  height:auto;
}


/* .hero-about{
  background-image: url("../public/about_banner.jpg");
} */
 .about-container{
  width: 100%;
background: #f9f9f9;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 }
 .about-banner img{
  object-fit: contain;

 }


.about-img img{
  width: 100%;
  height: 250px;
}
.about-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.logos{
  margin-left:18%;
}
.brand {
  min-height: 0;
  display: flex;
  margin-bottom:3rem !important;
}
.brand img{
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

.rcs_buttonSet{
display: none !important;
}
.error img{
  height: 300px;
  object-fit: contain;
}
.subtotal{
  padding-left: 0;
}
.subtotal li{
  display: flex;
  justify-content: space-between;
  gap:15px;
  margin-top: 10px;
  color:#777;
  font-size: 16px;
}
.checkout-details{
  box-sizing: 1px solid #eee;
  background: #f8f8f8;
  padding: 25px 20px;
}
.table th{
  color: #222;
  font-weight: bold;
}

.quantity-col btn{
  border: 1px solid #eee;
}
.order-info{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 7px;
  align-items: center;
}
.order-info p{
  margin-bottom: inherit;
}
.order-card{
  padding: 20px 25px;
}
.empty-cart-btn{
  padding:10px 30px !important;
  background-color: #363f4d !important;
}
