@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,700,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Dosis:200,300,400');

*{
  padding:0;
  margin:0;
  box-sizing:border-box;

}
/* .me-auto a{
     font-family:'Poppins,sans-serif'; 
  color: rgba(0,0,0,.55);
  text-decoration: 2px #0000 wavy;
} */
.cart-empty{
  margin-top:10%;
}
.ydb{
  font-size: 20px;
  text-decoration: none;
  list-style: inherit;
  color:#333;
}
.ydb:hover{
  color:#782626;
}
.cardd{
  padding-left:10px;
  padding-right:10px;
}
.page-header{
  padding:1.6rem 0.5rem;
  background-size: cover;
  background-position: 50%;
  background-color: #ebebeb;
 background-image: url(https://d-themes.com/react/molla/demo-25/images/page-header-bg.jpg); 
}
.page-header h1{
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;

}
.page-header span{
color:#c96;
font-size:2rem;
}
.row-card{
  display: flex;
  margin-top:60px;
}
.btnn{
  background-color: #d69f7e;
  color:#fff4e4;
  /* padding-top:1rem; */
  text-align: center;
  text-transform: capitalize;
  /* padding-bottom: 1rem; */
  padding-left: 2rem;
  padding-right: 2rem;
min-width:100px ;
  border-radius: 2px;
  letter-spacing: 0.1em;
  font-weight: 500;
  width: 100%;
  height: 50px;
  border-style: none;

}
.titlel{
  padding-bottom: 60px;
  font-size: 40px;
  /* color: #fff4e4; */
}
.titlel:hover{
  /* color: #c96; */
}
.btnn:hover{
  box-shadow: 0px 15px 20px rgba(229, 110, 46, 0.4);
  transform: translateY(-4px);
}
::selection{
  color:green;
  background-color:#c96 ;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-image: url(/public/welcome.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  min-height: 100vh;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.8vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  display:flex;
}
.navbar-menu{
  display:flex;
  list-style: none;

}
.navbar-menu li{
  flex:2vh;
  flex-flow: row-reverse;
  cursor:pointer;
  padding-top:10px;
}
.navbar-menu li:hover{
border-bottom: 1px solid  black ;

}
.basket{
 font-size:30px;
 margin-right: 30px;
cursor:pointer;
}
.footer{
  /* display:flex; */
  background-color: antiquewhite;

}
.footer-menu{
  margin:30px;
}
.footer-menu .title{
  text-align: center;
}
.footer-menu ul{
  list-style: none;
  text-align: center;

}
.footer-menu ul li{
  padding:10px;
  cursor:pointer;
}
.footer-menu ul li a:hover{
border-bottom:1px solid black;
}
.social-media{
  display:flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.social-media a {
padding:15px;
text-align: center;
color: #555;
font-size:18px;
}
.social-media a:hover{
  opacity:0.5;
}
.scroll{
  display: inline-block;
  width:50px;
  height:50px;
  background-color: #282c34;
  position:fixed; 
  bottom:0;
  top:0;
  border-radius: 50%;
  text-align: center;
  z-index: 99;
  transition: all 0.4s ease;
  display: none;
}
.footers{
  margin-top:5px;
  background-color: antiquewhite;
  margin-top:19%; 

}
.topnavbar{
  background-color:#f9eae1;
}
.footer-bottom{
  background-color:grey ;
  margin-bottom:-13px;
  border-bottom:2px solid grey;
  padding-top:15px;
}
.footer-bottom p{
  text-align: center;
  padding-top:15px;
  padding-bottom: 10px;
}
h2,p{
  text-align: center;
  padding-bottom:10px;
  text-transform: uppercase;
}
.desc{
  /* background-color: antiquewhite; */
  margin-bottom:-20px;
}
.btn{
 margin-top:40px;
 text-transform: uppercase;
}

.search-box{
  width:fit-content;
  height:fit-content;
  position: relative;
  margin-right:40px;
}
.btn-search{
  width:50px;
  height:50px;
  font-size:20px;
  font-weight:bold;
  border-style:none ;
  border-radius: 50%;
  border-color:#f9eae1;
  outline: none;
  right:0;
  color:#282c34;
  background-color:#f9eae1 ;
  position: absolute;

}
.discover{
  margin-top: 30px;
}


.input-search{
 width:50px;
 height:50px;
 border-style: none;
 outline:none;
 background-color: grey;
 padding:10px;
 color: white;
 letter-spacing:2px;
 border-radius:25px;
 padding-right:40px;
 transition: all .5s ease-in-out;
}
.input-search::placeholder{
color:rgba(255,255,255,.5);
font-size:18px;
letter-spacing: 2px;
font-weight: 100;
}
.btn-search:focus ~ .input-search{
  width:200px;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width:200px;
}
input:hover
p{
  color:black;
}
.best_sellers{
  letter-spacing: -.01em;
  line-height:1.35;
 font-family:'Poppins';
}
.col-md-3:hover{
  border:1px solid #eeee;
}
.col-md-4 {
  text-align: center;
}

.best_title,.best_price,.img_frame,.best1 img{
  text-align: center !important;
  vertical-align: middle;
}
.best_title:hover{
  color: #c96;
}
.best1:hover>.product_bootom{
visibility: visible;
display: block;
}
.product_bootom{
  margin-bottom:10px;
  visibility: hidden;
}
.product_bootom button{
  border-style: none;
  font-size: normal;
  border-radius: 0%;
  background-color: transparent;
  border:.2rem transparent;
  border-bottom:2px solid #333 ;
  color: #333;
  letter-spacing: 2px;
}
h4{
  text-align: center !important;
  padding-left:20px;
}
.shop{
  position:relative;
}
.product-action{
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity:1;
  margin-left:40%;
  transition: all ease 0.35s;

}
.shop:hover>.product-action{
  transform: translateY(-100%);
  visibility: inherit;
  text-align: center;
}
h5{
  padding-top:10px;
  color:#782626;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.desc{
  background-color:  #782626;;
}
.desc h2{
  padding-top:5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:whitesmoke;
  /* color: green; */
}
.desc p{
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.yess{
  position:relative;
  padding:20px;
}
.hidden{
  position: absolute;
  visibility: hidden;
  top:69.8%;
  text-align: center;
  width: 100%;
  left:0;
  right:0;
  background-color: #333;
  /* right:1%; */
}
.yess:hover>.hidden button{
visibility: visible;
transition: ease-in-out .25s;
color:white;
background-color: #d69f7e;
text-align: center;
letter-spacing: 2px;
width: 93%;
border-style: none;
}
.product-title{
  color:inherit;
  font-style: 'Arial';
  font-weight: 500;
  line-height: 1.55;
}
.product-titles:hover{
  color:#c96;
}
.burger{
 display: none;
  color:black;
  left:5px;
  top:30px;
}
.Nav.Link{
  color:white;
  background-color: aqua;
}
.details-image{
  text-align: center;
}
.details-image img{
width:40%;
height:40%;
object-fit:cover;
}
.product-name{
  font-weight: 400;
  letter-spacing: -.025em;
  line-height: 1.25;
  font: normal 300 1.4rem/1.86 'Roboto',sans-serif;
}
/* .size{
  padding:10px;
  margin-left:70px;

}
.size button{
  width: 40px;
  height:40px;
  border-style: none;
  border-radius: 50%;

} */
.descr{
  line-height:1.57;
padding-top: 10px;
font-weight: 300;
letter-spacing: 0;
color: #777;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.add{
  margin-top:-30px;
}
.price{
  font-size:2.4rem;
  color:#c96;
}
.price::before{
  content:'$';
}
.likes{
  font-size:2.2rem;
  letter-spacing: -.03em;
  font-style: normal;
}
@media screen and (max-width:600px) {
  .navbar-menu  li{
  display:none;
  }
  .burger{
    display:block;
    position: absolute;
    font-size: 24px;
  }
  .search-box{
    display:none;
  }
  
}
.carts{
  border-top:1px solid grey;
}
.cart-icon{
  margin-left:20px;
}
.size{
  padding-left: 2vh;
  margin-bottom: 20px;
}
.size .btn {
  padding-left:10px;
  text-align: center; 
  margin-left:10px;
}
.remove{
  margin-top:60px;
}
.pro-details{
  display:flex;
  margin-top:40px;
  cursor:pointer

}
.dec,
.inc,
.quantity{
  width:60px;
  height:60px;
  display:flex;
  border:1px solid silver;
  align-items: center;
  justify-content:center ;
}

.cart-title{
  text-transform: uppercase;
  margin-left:-50px;
}
.product-title{
  font-size: 20px;
}
.prize{
 font-size:30px;
 font-weight: bold;
 text-align: center;
}
.row{
  margin-left:20px;
}
.row .tables{
  border-bottom: 1px solid silver;
  border-top: 1px solid silver;
}
.total-prize{
color:#c96;
font-size: 1.5rem;
}
.detailss{
  display:flex;
  cursor:pointer;
width: 70%;
margin-left: 25px;

}
.pr-quantity{
  display: flex;
  margin-left: 30%;
  /* display:flex; */
  /* flex */
}
.dec,
.inc,
.quantity{
  width:60px;
  height:60px;
  display:flex;
  border:1px solid silver;
  align-items: center;
  justify-content:center ;
}
.basket{

  text-transform: uppercase;
}

.basket span{
  font-size:24px;
position: absolute;

}
.product-media{
  display: inline-block;
  position: relative;
  margin-right:300px;
  min-width: 60px;
}
.product-media img{
  position: absolute;
  width:80%;
  left:0;
}
.product-image{
  width:100%;
  height: auto;
}
.product-title{
  color:#333;
  font-family: 'Poppins,sans-serif';
  font-size: 1.2rem;
  line-height: 1.25;
  font-weight: 400;
text-align: center;
 margin-left:30px;

}
.col-md-3{
padding:20px;
}
.arrival .col-md-3 img{
  object-fit: cover;
  width: 85%;
  height: auto;
}
.product-price span{
  font-size: 1.5rem;
}
.table{
  width:100%;
  border-collapse: collapse;
}
.table td{
  padding-top: 3rem;
  padding-bottom: 3rem;
  vertical-align: middle;
}
.table th{
  color:#ccc;
  font-weight: 400;
}
.btn-remove{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color:#ccc;
  width:3rem;
  height:3rem;
  border-style: none;
  font-size:1.7rem ;
  background-color: transparent;
}
.btn-remove:hover{
  color: #c96;
}
.table td,.table th,.table thead th{
  border-bottom: .1rem solid #ebebeb;
}
.table thead th{
  vertical-align: bottom;
}
.summary{
  border:.1rem #d7d7d7 dashed;
  padding: 2.5rem 3rem 3rem 3rem;
}
.summary-title{
  font-size:1.2rem;
  font-weight: 500;
  border-bottom: .1rem solid #ccc;
  padding-bottom: 1.7rem;
}
.col-lg-3{
  margin-left:10px;
  flex:0 0 30%;
  max-width: 30%;
}
.banner3{
  /* height: 1000px; */
}
.banner-content p{
  margin-top:20px;
  line-height: 1.9;
  color:#666;
  letter-spacing: 0;
  font-size: 0.7rem;
  text-align: center !important;
  margin-left: 20%;
  margin-right: 20%;
  margin-top:30px;
  letter-spacing: 1px;
}.banner-content img{
  margin-top: 40px;
}
.banner-content h3{
font-size:2.5rem;
letter-spacing:-.01em;
line-height: 1.2;
font-weight: 300;
}
.banner-content{
  margin-top:90px;
  text-align: center !important;
  min-height: 400px;
}
.banner3 .banner3_p {
  font-weight: 620;
  font-size: 14px;
}
.social{
  padding:10px;
}
.col-md-2{
  margin-left:2.5%;
}
.ins{
  position: relative;

}
.seeProducts_button{
  border-top: none;
  border-left:none;
  border-right:none;
  color:#c96;
  border-bottom:2px solid #c96;
  height:50px;
  width:15%;
  letter-spacing: 1.5px;
}
.banner3{
  margin-top:-50px;
}
.seeProducts_button:hover{
  background-color:#c96 ;
  color:white;
}
.instagram{
  padding: 20px;
}
.instagram h2{
  font-weight: 400;
  font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
}
.instagram-content{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:0;
  bottom:0;
  left:30%;
  z-index: 2;
  opacity:0;
  visibility: hidden;
}
.ins:hover>.instagram-content{
  visibility: visible;
  opacity:1;
}
.ins{
  padding: 20px;
  position: relative;
  width:20px;
  height:fit-content
}
.ins:hover{
  opacity: 0.6;
}
.content{
  position: absolute;
  vertical-align: middle;
  

 }
.arrivals{
  font-size:1.8rem;
  line-height: 1.2;
  letter-spacing: 4px;
  color:#d69f7e;
  font-weight: 800;
}
.icon {
  margin-right:1rem;
  margin-left: 1rem;
}
.icon:hover{
  color: #c96;
}
.page-title{
  margin-top:20px;
  font-weight: 500;
}
label{
  color:#666;
}
.detailss span{
  color:#282c34;
}
.payp{
border-style: none;
  color:white;
  font-size:18px;
  font-weight: 700;
  letter-spacing: 0.3rem;
  /* border:2px solid #ffffff; */
  padding:0.7rem 2rem;
  background-color: #ff8a80;
}
.payp:hover{
  box-shadow: 0px 5px 10px 0px rgb(212,43,43); 
}
.instagram-content {
  color:#333;
  font-weight: bold;
}
.instagram-content a:hover{
  color:#c96;
}
.Login{
  padding: 35px 30px 30px;
box-shadow: 0 1px 11px hsl(0deg 0% 66% / 27%);
}
.Login input{
  width: 100%;
  border:1px solid #e4e4e4;
  padding:20px;
  margin-top: 20px;
  border-radius: 5px;
}
.Login button {
background-color: #d69f7e;
padding:10px 50px 10px 50px;
border-style: none;
color:white;
font-size:20px;
font-weight: 500;
letter-spacing: 1px;
border-radius: 5px;
text-align: center;
margin-top: 20px;
}
.Login a{
  margin-top:10px;
  text-decoration: none;
  list-style: none;
  color: #555;
}
.Login a:hover{
  color:#777;
}
.registers{
object-fit: cover;
margin-bottom:40px;
  background-image:url("https://iephosting.com/app/views/client/bootstrap/images/graphic8.svg") ;
}
.page-title{
  color:#ff8a80;
  letter-spacing: 2px;
}
.paypal{
  width:20%;
}
.add .btn{
  border-style: none;
  background: #e6a247;
  box-shadow: 0 3px 13px -2px rgba(0,0,0,.15);
  padding:0.7rem;
  border-radius: 4px;
  font-family: 'Ubuntu', sans-serif;
  color: #ffff;
  justify-content: space-around;
  transition: 0.4s;
  width:auto;
}
.add .btn:hover{
  color:#ffff;
}
.des{
  background-color: #f7f7f7;
  padding-top:20px;
  padding-bottom:15px;
}
.contact{
  min-height:80vh;
  /* align-items: center;
  justify-content: center; */

}
.contact h4{
  color:#c1c1c1;
}
.cardd{
  width:600px;
border-radius: 3px; 
 }
textarea{
  height: 180px;
}
.submit{
   background-color: #404040;
   border-color: none;
   border-style: none;
   color:#fff;
   font-weight: 500;
   padding:10px 62px;
   margin:40px;
   font-size: 19px;
}
.submit:hover{
  background-color: #BF40BF;
}
.form-control{
border: 1px solid #c1c1c1;
}
form{
  padding:25px;
}
iframe{
  border:0;
  object-fit: cover;
}
.sub{
  font-size:2rem;
  color:#555;
  text-transform: uppercase;
}
.total-price{
  font-size: 2rem;
  color: green;
  padding-left: 20px;
}
.quantity-title{
  padding-right:20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #777;
  font-size: 1.5rem;
}